{
  background: #F3F5FC;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 40px;
  line-height: center;
}
.fondoprincipal{
    background-color: #F3F5FC;
    position: relative;
    width: 1440px;
    height: 1024px;

}

.logo{
  /*padding-top: 10px;
  margin-left: 10px;
  width: 12%;*/

  /* Vector */
  /* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 40px;

position: absolute;
width: 120px;
height: 48px;
left: 40px;
top: 40px;



/* Dark blue/dark-blue-300
background: #0A3871;*/

}

main{
  display: flex;
  margin-bottom: 50px;
  margin-left: 80px;
}

.text-area{
  /*border: none;
  color: #0A3871;
  margin-top: 90px;
  text-transform: lowercase;*/
 background-color: #F3F5FC;
  position: absolute;
width: 680px;
height: 288px;
left: 240px;
top: 168px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 48px;



}

::placeholder{
  color: #0A3871;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;

}

.text-area:focus {
  outline: none;

}
 .rectangulo{
   /* Rectangle 1 */


position: absolute;
width: 400px;
height: 944px;
left: 1000px;
top: 40px;

/* White */

background: #FFFFFF;
/* shadow */

box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
border-radius: 32px;
 }

.mensaje{



  background-repeat: no-repeat;
  border: none;
  position: absolute;
width: 336px;
height: 781px;
left: 1032px;
top: 72px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 150%;
/* or 36px */


/* Gray/gray-400 */

color: #495057;


}

.mensaje:focus {
  outline: none;

}

.muneco{
  background: #FFFFFF;
  background-image: url("imagenes/muneco.png");
  position: absolute;
  width: 336px;
  height: 304px;
  left: 1032px;
  top: 283px;
}

.botones{
  display: flex;
  flex-direction: row;
  margin-top: 18px;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;

position: absolute;
width: 680px;
height: 67px;
left: 240px;
top: 885px;

}

.btn-desencriptar{

  background: #D8DFE8;
  border: 1px solid #0A3871;
  border-radius: 24px;

  /* Button */


box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 24px;
gap: 8px;

}

.btn-desencriptar span{
  /* Button */


width: 280px;
height: 19px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;

/* Dark blue/dark-blue-300 */

color: #0A3871;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 1;
}



.btn-encriptar{
  background: #0A3871;
  /* Auto layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 24px;
gap: 8px;

width: 328px;
height: 67px;

/* Dark blue/dark-blue-300 */

background: #0A3871;
border-radius: 24px;


}
.btn-encriptar span{
  /* Button */


width: 280px;
height: 19px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;

/* White */

color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 1;
}




.copiar{
  /*background: #D8DFE8;
  border: 1px solid #0A3871;
  border-radius: 24px;
  color: #0A3871;
  cursor: pointer;
  height: 67px;
  margin-left: 350px;
  width: 328px;
  font-size: 40px;
  position: absolute;

  margin-top: 352px;*/
  /* Button */


box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 24px;
gap: 8px;

position: absolute;
width: 336px;
height: 67px;
left: 1032px;
top: 885px;

/* Dark blue/dark-blue-300 */

border: 1px solid #0A3871;
border-radius: 24px;



}
.copiar span{
  width: 288px;
height: 19px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;

/* Dark blue/dark-blue-300 */

color: #0A3871;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 1;
}
 .frame1{
   /* Frame 1 */


/* Auto layout */

display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

position: absolute;
width: 229px;
height: 18px;
left: 240px;
top: 851px;

 }

.frame1::before{
content: url("imagenes/Vector.png")



/* Inside auto layout */

/*flex: none;
order: 0;
flex-grow: 0;*/
  /*left: 240px;
 right: 1184px;
 top: 852px;
 bottom: 155px;*/


}


.informacion {
 /*content: url("imagenes/Vector.png")*/
/* Auto layout */
/*
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

position: absolute;
width: 252px;
height: 18px;
left: 240px;
top: 851px;*/
}

.informacion span{
  width: 228px;
  height: 18px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  /* identical to box height, or 18px */


  /* Gray/gray-400 */

  color: #495057;

  opacity: 0.8;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

@media screen and (max-width: 480px) {
  .botones, .text-area, .rectangulo, .mensaje, .copiar, .fondoprincipal, .frame1, .informacion, .logo, .btn-encriptar, .btn-desencriptar, .muneco{
    width: auto;
  /*  height: auto;*/
  }
  /body{
    overflow: auto;
  }
}
